[
  { ermob, [
            {scheduler,{period,30000}},
            {pools,[
              {downlink_pool,[
                {worker_module,down_worker},
                {size_args,[
                  {size, 10},
                  {max_overflow, 0}
                ]},
                {worker,[
                  {con_timeout,5000},
                  {down_timeout,40000}
                ]}
              ]
              }
            ]},
            {tests,[
              {downlink,
                [
                 {url,"http://localhost"},
                 {con_number,10},
                 {iface,"eth0"},
                 {type,"normal"}
                ],
                {max_test_time,300000}
              }
            ]}
  ]},
  {lager, [
    {log_root, "/tmp/ermob/log"},
    {handlers, [
      {lager_console_backend, info},
      {lager_file_backend, [{file, "error.log"}, {level, error}]},
      {lager_file_backend, [{file, "console.log"}, {level, info}]}
    ]}]}
].
